{#
/**
 * @file
 * Override of system/menu.html.twig for the primary menu.
 * Heavily inspired by  https://www.drupal.org/project/uswds_base.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, 0, megamenu, 0, NULL, duplicate_parent, NULL, mega_display_second) }}

{% macro menu_links(items, menu_level, megamenu, button_id, parent, duplicate_parent, region, mega_display_second) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
      <ul class="usa-nav__primary usa-accordion">
    {% elseif megamenu and menu_level == 1 %}
      <div id="{% if header_extended %}extended{% else %}basic{% endif %}-mega-nav-section-{{ button_id }}" class="usa-nav__submenu usa-megamenu" hidden="">
        <div class="grid-row grid-gap-4">
    {% else %}
    {% if items|length > 9 %}
      {% set layout = 'two-col' %}
    {% else %}
      {% set layout = 'one-col' %}
    {% endif %}
      <ul id="basic-nav-section-{{ button_id }}" class="uswds-theme--nav-linklist uswds-theme--nav-linklist-{{ layout }} usa-nav__submenu{% if menu_level > 1 %}-list{% endif %}"{% if menu_level == 1  %} hidden=""{% endif %}>

      {% if duplicate_parent and megamenu == 0 %}
        <li class="usa-nav__submenu-item">
          <a href="{{ parent.url }}">
            <span>{{ parent.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endif %}
    {# Set a counter variable so we can always tell when we are on the first menu item in the dropdown. #}
    {% set counter = 0 %}
    
    {% for item in items %}
    {# Increment the counter on each loop. #}
    {% set counter = counter + 1 %}

    {# Here's the <li> element which needs custom classes for viewport dependent columns and styling.

    We have already set our counter variable above to keep track of how many items are in this dropdown. We can
    use this to divide menus into two columns, breaking on the nth menu item.
    
    Also, the top level link in each menu needs to have special styling, we can use the counter variable for that as well. #}

    {% if counter <= 9 %}
      {% set first_column = true %}
    {% elseif counter > 9 %}
     {% set first_column = false %}
     {% set second_column = true %}
    {% endif %}

    {% set li_attribute = create_attribute() %}

    {% if menu_level == 0 %}
      {% set li_classes = 'usa-nav__primary-item desktop:padding-right-1' %}
    {% elseif counter == 1 %}
      {% set li_classes = [
        'usa-nav__submenu-item',
        'uswds-theme__nav-heading',
      ]%}
    {% else %}
      {% set li_classes = [
        'usa-nav__submenu-item',
        first_column ? 'uswds-theme--nav-first-column',
        second_column ? 'uswds-theme--nav-second-column',
        ]%}
    {% endif %}

    {% set li_attribute = li_attribute.addClass(li_classes) %}
    <li {{ li_attribute }}>

      {% if menu_level == 0 and item.below %}
        <button class="usa-accordion__button usa-nav__link {% if item.in_active_trail %}usa-current{% endif %}" aria-expanded="false" aria-controls="{% if megamenu and header_extended  %}extended-mega-nav-section-{% elseif megamenu %}basic-mega-nav-section-{% else %}basic-nav-section-{% endif %}{{ loop.index }}">
          <span>{{ item.title }}</span>
        </button>
      {% endif %}

      {% if item.below and ((megamenu and menu_level == 1) or menu_level == 0) %}
        {{ menus.menu_links(item.below, menu_level + 1, megamenu, loop.index, item, duplicate_parent, NULL, mega_display_second) }}
      {% else %}
        {% if megamenu and menu_level == 1 %}
          <div class="usa-nav__submenu-item">
        {% endif %}
        {# current <a> element #}
        <a class=" {% if item.url.toString == path("<current>") or item.in_active_trail %}usa-current{% if item.url.toString == path("<current>") %} usa-current--child{% endif %}{% endif %}" href="{{ item.url }}">
          <span>{{ item.title }}          
          {% if counter == 1 %}
            <span>{{ source('/themes/custom/uswds_theme/img/uswds-theme-icons/chevron-right-light.svg') }}</span>
          {% endif %}
          </span>
        </a>
        {% if megamenu and menu_level == 1 %}
          </div>
        {% endif %}
      {% endif %}

      {% if megamenu and menu_level == 1 %}
        </div>
      {% else %}
    {# Add sub menu items to the mobile menu if we are currently on a page that has sub menu items. #}
      {% if item.in_active_trail and menu_level != 0 %}

        <ul class="uswds-theme--nav__sublist">
          {% for item in items %}
            {% if item.below %}
              {% if item.in_active_trail %}   
                {% for item in item.below %}
                {% set li_attribute = li_attribute.addClasses('uswds-theme--nav-sub-item') %}
                  <li {{ li_attribute }}>
                  <a class="{% if item.in_active_trail %}usa-current{% if item.url.toString == path("<current>") %} usa-current--child{% endif %}{% endif %}" id="th--main-nav-{{item.title|lower|replace({' ':'-'}) }}" href="{{ item.url }}">{{ item['title'] }}</a> 
                  </li>
                  {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        </li>
      {% endif %}

    {% endfor %}

    {% if megamenu and menu_level == 1 %}
        </div>
      </div>
    {% else %}
      </ul>
    {% endif %}

  {% endif %}

{% endmacro %}