{#
/**
 * @file
 * Default theme implementation to USWDS process list component.
 *
 * USWDS template variables:
 * - process_list_item: renderable field object value
 * - classes: classes array (inherits base template classes as default)
 *
 * Usage example:
 * {% include '@uswds_templates/uswds/usa-process-list.html.twig' with {
 *   'process_list_item': var_process_list_item | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-process-list',
] %}

<ol{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))) }}>
  {{ process_list_item }}
</ol>
