{#
/**
 * @file
 * Default theme implementation to USWDS card item component.
 *
 * USWDS template variables:
 * - media: img string
 * - is_flag: boolean: true / false
 * - is_flag_right: boolean: true / false
 * - card_count: numeric string
 * - is_title_position_top: boolean: true / false
 * - heading: string
 * - is_media_inset: boolean: true / false
 * - text: string
 * - link_title: string
 * - link_url: url string
 * - classes: classes array (inherits base template classes as default)
 *
 * Usage example:
 * {% include '@uswds_templates/uswds/usa-card-item.html.twig' with {
 *   'media': var_media,
 *   'is_flag': var_is_flag,
 *   'is_flag_right': var_is_flag_right,
 *   'card_count': var_card_count,
 *   'is_title_position_top': var_is_title_position_top,
 *   'heading': var_title | field_value,
 *   'is_media_inset': var_is_media_inset,
 *   'text': var_text | field_value,
 *   'link_title': var_link_title,
 *   'link_url': var_link_url,
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  is_title_position_top ? 'usa-card--header-first',
  is_flag ? 'tablet-lg:grid-col-6 usa-card--flag' : 'tablet-lg:grid-col-4',
  is_flag == false and card_count == 4 ? 'tablet-lg:grid-col-6',
  is_flag_right ? 'usa-card--media-right',
  'usa-card',
] %}

<li{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))) }}>
  <div class="usa-card__container">
    {% if heading %}
      <div class="usa-card__header">
        <h2 class="usa-card__heading">
          {{ heading }}
        </h2>
      </div>
    {% endif %}

    {% if media %}
      <div class="usa-card__media {{ is_media_inset ?  'usa-card__media--inset' }}">
        <div class="usa-card__img">
          {{ media }}
        </div>
      </div>
    {% endif %}

    {% if text %}
      <div class="usa-card__body">
        {{ text }}
      </div>
    {% endif %}

    {% if link_title and link_url %}
      <div class="usa-card__footer">
        <a
          type="button" class="usa-button"
          href="{{ link_url }}"
          title="{{ link_title }}">
          {{ link_title }}
        </a>
      </div>
    {% endif %}

  </div>
</li>
