{#
/**
 * @file
 * Default theme implementation to USWDS banner component.
 *
 * USWDS template variables:
 * - aria_label: string
 * - uswds_img_path: url string
 * - header_text: string
 * - header_action: string
 * - button_text: string
 * - gov_text: string
 * - https_text: string
 * - classes: classes array (inherits base template classes as default)
 *
 * Usage example:
 * {% include '@uswds_templates/uswds/usa-banner.html.twig' with {
 *   'aria_label': var_aria_label | field_value,
 *   'uswds_img_path': '/themes/custom/uswds_theme/dist/img/',
 *   'header_text': var_header_text | field_value,
 *   'header_action': var_header_action | field_value,
 *   'button_text': var_button_text | field_value,
 *   'gov_text': var_gov_text | field_value,
 *   'https_text': var_https_text | field_value,
 *   'classes': var_classes
 * } %}
 *
#}

{% set usa_attributes = create_attribute() %}
{% set usa_classes = [
  'usa-banner',
] %}

<section{{ usa_attributes.addClass(usa_classes | merge(classes | default([]))).setAttribute('aria-label', aria_label) }}>
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img
              aria-hidden="true"
              class="usa-banner__header-flag"
              src="{{ uswds_img_path }}us_flag_small.png"
              alt=""
            />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
          <p class="usa-banner__header-text">
            {{ header_text }}
          </p>
          <p class="usa-banner__header-action">{{ header_action}}</p>
        </div>
        <button
          type="button"
          class="usa-accordion__button usa-banner__button"
          aria-expanded="false"
          aria-controls="gov-banner-default-default"
        >
          <span class="usa-banner__button-text">{{ button_text }}</span>
        </button>
      </div>
    </header>
    <div
      class="usa-banner__content usa-accordion__content"
      id="gov-banner-default-default"
    >
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
              class="usa-banner__icon usa-media-block__img"
              src="{{ uswds_img_path }}icon-dot-gov.svg"
              role="img"
              alt=""
              aria-hidden="true"
            />
          <div class="usa-media-block__body">
            {{ gov_text }}
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
              class="usa-banner__icon usa-media-block__img"
              src="{{ uswds_img_path }}icon-https.svg"
              role="img"
              alt=""
              aria-hidden="true"
            />
          <div class="usa-media-block__body">
            {{ https_text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
