/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;


.uswds-theme__nav-heading {
   svg, img {
      display: none;
    }
    @include at-media('desktop'){
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-bottom: 1px solid white;
      font-weight: 700;
      svg, img {
        fill: white;
        height: .9em;
        padding-left: 8px;
        display: inline;
        margin-bottom: -0.14em;
      }
    }
 
   white-space: nowrap;
 }

 .usa-nav__primary .usa-accordion__button span {
   display: block;
   padding-right: 0px;
 }
 
 .usa-nav__primary button[aria-expanded=false] span::after {
   right: 0px;
 }

 .uswds-theme--nav__sublist {
   padding-inline-start: 0px;
   
   @include at-media('desktop') {
     display: none;
   }
}

.uswds-theme--nav-linklist {
   white-space: normal;
   @include at-media('desktop'){
     width: 21rem;
   }
   li {
     list-style-type: none;
   }
 
   &-two-col {
     @include at-media('desktop') {
       width: 40rem!important;
       }
   }
 }

 .usa-nav__submenu-item {
  padding-left: 1rem;
  padding-right: 1rem;
 }